h1,h2,h3,h4,h5,h6,ul,ol{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a, a:hover{
    text-decoration: none;
}

body{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

nav{
    padding: 7px 15px !important;
    box-shadow: 0px 3px 7px 0px rgba(58, 31, 12, 0.35);
}

nav ul{
    width: 450px;
}

nav ul a{
    color: #4e4e4e;
}

nav ul a:hover{
    color: #e48168;
}

.navbar-brand{
    color: #dd4400 !important;
    padding: 0;
    font-size: 16px;
}

header img{
    width: 100%;
    margin-bottom: 50px;
}

.top h3{
    font-weight: 700;
    width: 165px;
    color: #dd4400;
    font-size: 18px;
}

.top .card{
    height: 350px;
    width: 255px;
    box-shadow: 0px 0px 21px -1px rgba(230,206,197,1);
    margin-bottom: 100px;
}

.button{
    padding: 14px 53px 11px;
    background: #dd4400;
    display: inline-block !important;
}

.bottom h2{
    font-size: 30px;
    font-weight: 700;
    color: #5e5e5e;
    margin-bottom: 50px;
}

.bottom p{
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 28px;
    color: #5e5e5e;
}

.bottom .button{
    margin-top: 15px;
}

.bottom .text{
    width: 150px;
}

.bottom .text a{
    text-decoration: underline;
    font-size: 14px;
    color: #dd4400;
}

.news{
    margin-bottom: 15px;
}

footer{
    margin-top: 100px;
    background: #dd4400;
    padding: 70px 0;
}

footer h4{
    font-size: 30px;
    margin-bottom: 20px;
}

footer .consult a{
    font-size: 45px;
}

footer .consult p{
    font-size: 18px;
}

footer .mail p{
    font-size: 20px;
}

footer .mail a{
    font-size: 20px;
}